---
import Navigation from "@components/Navigation.astro";
import Hamburger from "@components/Hamburger.astro";
---

<header>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>
<script>
  import "src/scripts/menu.js";
</script>
