---

---

<div
  class="nav-links hidden top-20 left-12 m-0 w-full bg-[#ff9776] sm:block sm:static sm:ml-20 sm:w-auto sm:bg-none"
>
  <a
    href="/"
    class="block py-[10px] text-center text-xl font-bold uppercase hover:bg-[#ff9776] focus:bg-[#ff9776] sm:inline-block sm:py-[15px] sm:px-5"
  >
    Home
  </a>
  <a
    href="/about/"
    class="block py-[10px] text-center text-xl font-bold uppercase hover:bg-[#ff9776] focus:bg-[#ff9776] sm:inline-block sm:py-[15px] sm:px-5"
  >
    About
  </a>
  <a
    href="/blog/"
    class="block py-[10px] text-center text-xl font-bold uppercase hover:bg-[#ff9776] focus:bg-[#ff9776] sm:inline-block sm:py-[15px] sm:px-5"
  >
    Blog
  </a>
</div>
