/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-[#f1f5f9] font-sans;
  }
  html.dark {
    @apply bg-[#0d0950] text-white;
  }

  body {
    @apply mx-auto w-full max-w-[80ch] p-4 leading-normal;
  }

  * {
    @apply box-border;
  }

  h1 {
    @apply my-4 text-[40px];
  }
}

@layer components {
  .expanded {
    display: unset !important;
  }
  .sun {
    fill: black;
  }
  .moon {
    fill: transparent;
  }
  .dark .sun {
    fill: transparent;
  }
  .dark .moon {
    fill: white;
  }
  .dark .nav-links a {
    color: #fff;
  }
}
